
/* Your CSS Code here. */

#quote{
    max-width: 600px;
    background-color:#f8fffe ;
    /* height: 30px; */
    /* padding-top: 10px; */
    border-left: 8px solid green;
    padding: 15px;
    margin: 10px;
    font-weight: bold;
}